<div class="d-flex flex-column flex-shrink-0 sidebar" style="height: 100vh;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">

        <span class="visually-hidden">Icon-only</span>
    </a>


    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            {% if page.current_page == 'home' %}
            <a href="/" class="nav-link active py-3" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i style="font-size: 20px;" class="fas fa-home text-dark"></i>
            </a>
            {% else %}
            <a href="/" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i style="font-size: 20px;" class="fas fa-home"></i>
            </a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if page.current_page == 'lessons' %}
            <a href="/lessons.html" class="nav-link active py-3" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Lessons">
                <i style="font-size: 20px;" class="fas fa-chalkboard-teacher text-dark"></i>
            </a>
            {% else %}
            <a href="/lessons.html" class="nav-link py-3" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Lessons">
                <i style="font-size: 20px;" class="fas fa-chalkboard-teacher"></i>
            </a>
            {% endif %}
        </li>
    </ul>
</div>

